{% extends 'base.html.twig' %}

{% block title %}New Persons{% endblock %}

{% block body %}
    <h1>Create new Persons</h1>

    {{ include('persons/_form.html.twig') }}

    <a class="btn btn-success" role="button" href="{{ path('persons_index') }}">Lista użytkowników</a>
{% endblock %}
