{% extends 'base.html.twig' %}

{% block title %}Nowy uczystnik{% endblock %}

{% block body %}
    <h1>Stwórz nowego uczestnika</h1>

    {{ include('persons/_form.html.twig') }}

    <a class="btn btn-default" role="button" href="{{ path('persons_index') }}">Powrót do listy kandydatów</a>
{% endblock %}
